<h2><center>Welcome!</center></h2>  
</br>       
<center>
<div class="container" width="50%" >
  <h5>You can use the link below to login to an existing account or to create a new account to generate your JWT</h5>
  </br>
<span class="border border-light">
<div class = "loginForm">
 <a href="/login">login or create an account!</a></br>
</div>
</center>
