<h2><center>{{{title}}}</center></h2>  
</br></br>       
<center>
    <h4>Hello {{{nickname}}}!</h4>
</br>
    <h5>Unique Owner ID:</h5>
  <a>{{{ownerId}}}</a>
  </br></br>
    <h5>JWT:</h5>
<div  >
  </br>
  <a style="width:80%; word-wrap:break-word; display:inline-block;">{{{jwt}}}</a>
  </br>
</div>

</center>
